{{page-title "Profile"}}
<div align="right">
    {{user}}  |  <div class="btn btn-primary" align="right" {{on "click" this.logout}}>Logout</div>
</div>

<div align="center">
    <h1>My Tasks</h1>
</div>
<Profile/>
{{outlet}}